#industry-image {
    width: 100vw;
    height: 65vh;
    object-fit: cover;
  }
  
  #industry-content {
    
    min-height: 70vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 15rem;
    gap: 5rem;
  }
  #industry-image-container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  #industry-heading {
    position: absolute;
    bottom: 6rem;
    /* top: 30%; */
    left: 10%;
    color: #fff;
    font-size: 2.5rem;
  }
  
  #industry-content img {
    height: 400px;
    width: 630px;
    object-fit: cover;
  }
  
  #industry-crumbs {
    position: absolute;
    bottom: 4rem;
    left: 10%;
    color: #fff;
    font-size: 1rem;
  }
  
  #industry-crumbs i {
    padding: 0 7px;
  }
  
  #industry-crumbs a {
    margin: 0 auto;
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
  }
  
  #industry-content .industry-data {
    display: flex;
    height: 55%;
    flex-direction: column;
    gap: 2rem;
  }
  
  #industry-content .industry-data h1 {
    color: #1d1847;
    font-size: 2.5rem;
    font-family: Montserrat;
  }
  #industry-content .industry-data span {
    display: flex;
    font-family: Montserrat;
    color: gray;
    letter-spacing: 1px;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    flex-direction: column;
  }
  @media all and (max-width: 1500px) {
    #industry-content {
      padding: 2rem 10rem;
    }
  }
  @media all and (max-width: 1320px) {
    #industry-content {
      padding: 2rem 5rem;
    }
  }
  @media all and (max-width: 1150px) {
    #industry-content {
      padding: 4rem 5rem;
      flex-direction: column;
    }
    #industry-content img {
      width: 75vw;
      height: 25rem;
    }
  }
  
  @media all and (max-width: 750px) {
    #industry-content {
      gap: 2rem;
    }
    #industry-content img {
      width: 100%;
    }
    #industry-content {
      padding: 4rem 1rem;
    }
  }
  @media all and (max-width: 600px) {
    #industry-content img {
      height: 15rem;
    }
    #industry-heading {
      font-size: 2rem;
    }
  }
  @media all and (max-width: 450px) {
    #industry-heading {
      left: 4%;
    }
    #industry-crumbs {
      left: 4%;
    }
  }
  
  @media all and (max-width: 400px) {
    #industry-content .industry-data h1 {
      font-size: 2rem;
    }
    #industry-heading {
      font-size: 2rem;
    }
  }
  