@font-face {
  font-family: Neue-Haas;
  src: url("../../Font/NeueHaasDisplayBold.ttf");
}

#features {
    padding-bottom: 5rem;
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 2.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.feature-box {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.1 ease-in-out;
}

.feature-box:hover {
  transform: scale(1.03);
}

.icon {
  display: block;
  font-size: 3.5rem;
  margin-bottom: 10px;
  bottom: 0;
  padding: 30px;
  padding-right: 20px;
  padding-bottom: 0;
  color: rgb(0, 0, 0, 0.8);
}

.number {
  display: block;
  font-size: 5rem;
  margin-bottom: 10px;
  color: rgb(59, 150, 215);
  font-family: Neue-Haas;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.number::after {
  content: "+";
  font-size: 2.5rem;
  position: absolute;
  top: 0;
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
}

.number-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #1e2e3e;
}

.feature-box p {
  font-size: 1rem;
}

@media (max-width: 992px) {
  .feature-box {
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .feature-box {
    flex: 0 0 100%;
  }
}
