#about-us-image-container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  #about-us-heading {
    position: absolute;
    bottom: 6rem;
    left: 10%;
    color: #fff;
    font-size: 2.5rem;
  }
  
  #about-us-image {
    width: 100vw;
    height: 45vh;
    object-fit: cover;
  }
  
  #about-us-crumbs {
    position: absolute;
    bottom: 4rem;
    left: 10%;
    color: #fff;
    font-size: 1rem;
  }
  
  #about-us-crumbs i {
    padding: 0 7px;
  }
  
  #about-us-crumbs a {
    margin: 0 auto;
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
  }
  
  #about-us-content {
    display: flex;
    min-height: 70vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem 15rem;
    gap: 5rem;
  }
  #about-us-content img {
    height: 55%;
    width: 27vw;
    object-fit: cover;
  }
  
  #about-us-content .about-us-data {
    display: flex;
    height: 55%;
    flex-direction: column;
    gap: 2rem;
  }
  
  #about-us-content .about-us-data h1 {
    color: #1d1847;
    font-size: 2.5rem;
    font-family: Montserrat;
  }
  #about-us-content .about-us-data span {
    display: flex;
    font-family: Montserrat;
    color: gray;
    letter-spacing: 1px;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    flex-direction: column;
  }
  @media all and (max-width: 1500px) {
    #about-us-content {
      padding: 2rem 10rem;
    }
  }
  @media all and (max-width: 1320px) {
    #about-us-content {
      padding: 2rem 5rem;
    }
  }
  @media all and (max-width: 1150px) {
    #about-us-content {
      padding: 4rem 5rem;
      flex-direction: column;
    }
    #about-us-content img {
      width: 75vw;
      height: 25rem;
    }
  }
  
  @media all and (max-width: 750px) {
    #about-us-content {
      gap: 2rem;
    }
    #about-us-content img {
      width: 100%;
    }
    #about-us-content {
      padding: 4rem 1rem;
    }
  }
  @media all and (max-width: 600px) {
    #about-us-content img {
      height: 15rem;
    }
    #about-us-heading {
      font-size: 2rem;
    }
  }
  
  @media all and (max-width: 450px) {
    #about-us-heading {
      left: 4%;
    }
    #about-us-crumbs {
      left: 4%;
    }
  }
  @media all and (max-width: 400px) {
    #about-us-content .about-us-data h1 {
      font-size: 2rem;
    }
    #about-us-heading {
      font-size: 2rem;
      text-align: left;
    }
  }
  
  /* @media all and (max-height: 700px) {
    #about-us-heading {
      bottom: 3rem;
      /* font-size: 2rem; */
  /* } */
  /* }  */
  