.team-container {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}

.team-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Distribute cards evenly */
  gap: 20px;
  padding: 20px; /* Add some padding between cards */
}

.team-member {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px; /* Set a fixed width for each card */
}

.team-link {
  text-decoration: none;
  color: #333;
}

.team-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team-member-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.team-member-description {
  font-size: 1rem;
  color: #555;
}

@media screen and (max-width: 900px) {
  .team-heading {
    font-size: 2rem;
  }

  .team-member {
    width: 200px;
    padding: 15px;
  }

  .team-image {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 550px) {
  .team-heading {
    font-size: 1.5rem;
  }

  .team-member {
    width: 100%;
  }

  .team-image {
    width: 100px;
    height: 100px;
  }

  .team-member-description {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .team-heading {
    font-size: 1.2rem;
  }
}








