@font-face {
  font-family: head;
  src: url(/src/components/Font//SanMarinoBeach-2OOLW.ttf);
}
@font-face {
  font-family: head2;
  src: url(/src/components/Font/GlossySheenOutline-X35n2.ttf);
}
#not-found {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#not-found span {
  font-family: head;
  /* z-index: 9999; */
  color: #1e2e3e;
  font-size: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#not-found img {
  position: absolute;
  opacity: 0.2;
  top: 20%;
  z-index: -2;
}

@media all and (max-width: 700px) {
  #not-found span {
    font-size: 3.5rem;
  }
}

@media all and (max-width: 550px) {
  #not-found span {
    font-size: 2.5rem;
  }
  #not-found img {
    height: 15rem;
    top: 30%;
  }
}
