#navbar-main-cont {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

/* #upper-nav {
  background-color: #1e2e3e;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 3rem;
}

#upper-nav #inner-upper-nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

#upper-nav #inner-upper-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

#upper-nav #inner-upper-nav a:nth-child(4) i {
  font-size: 1.4rem;
}

#upper-nav #inner-upper-nav a:nth-child(5) i {
  font-size: 1.2rem;
}

#upper-nav #inner-upper-nav a:hover {
  background-color: #05080a;
  background-color: white;
} */

#lower-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: transparent; */
  background-color: white;

  transition: all 0.5s linear;
}

#lower-nav #inner-lower-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 7rem;
  padding: 0 2rem;
  border-bottom: 2px solid gray;
}

#lower-nav #inner-lower-nav img {
  height: 75%;
  cursor: pointer;
}
#lower-nav #inner-lower-nav #left-inner-lower-nav {
  display: flex;
  gap: 2rem;
  height: 100%;
  font-weight: 650;
  font-size: 1.1rem;
}

#lower-nav #inner-lower-nav #left-inner-lower-nav .hover-nav-comp,
#lower-nav #inner-lower-nav #left-inner-lower-nav a {
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  color: #1e2e3e;
  /* color: #374858; */
  position: relative;
  font-size: 1.2rem;
}
/* .nav-head {
  text-shadow: 0 0 5px #1e2e3e;
} */

#lower-nav #inner-lower-nav #left-inner-lower-nav .hover-nav-comp .bottom-bar,
#lower-nav #inner-lower-nav #left-inner-lower-nav a .bottom-bar {
  width: 100%;
  background-color: red;
  display: none;
  height: 0.25rem;
  position: absolute;
  bottom: 0;
}

#lower-nav
  #inner-lower-nav
  #left-inner-lower-nav
  .hover-nav-comp:hover
  .bottom-bar,
#lower-nav #inner-lower-nav #left-inner-lower-nav a:hover .bottom-bar {
  display: flex;
  animation: borderBottomTrans 0.2s linear;
}

@keyframes borderBottomTrans {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.hover-component {
  position: absolute;
  top: 110px;
  flex-direction: column;
  border: 1px solid black;
  border-top: 0;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  animation: hoverAnim 0.1s linear;
  display: none;
  background-color: white !important;
}
.hover-component > .inner-link {
  display: flex;
  justify-content: left !important;
  align-items: center;
  text-align: left;
  border: 1px solid transparent;
  padding: 0 1rem;
  width: auto;
  font-size: 1rem !important;
  color: black;
}
.hover-component a:hover {
  text-decoration: underline !important;
}
@keyframes hoverAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hover-nav-comp:nth-child(2) > .hover-component {
  width: 23rem;
}

.hover-nav-comp:nth-child(3) > .hover-component {
  width: 28rem;
}

.hover-nav-comp:nth-child(4) > .hover-component {
  width: 20rem;
}

.hover-nav-comp:nth-child(5) > .hover-component {
  width: 35rem;
}

.hover-nav-comp:nth-child(6) > .hover-component {
  width: 15rem;
}

@media all and (max-width: 1700px) {
  #inner-lower-nav {
    width: 80% !important;
  }
}
@media all and (max-width: 1600px) {
  #inner-lower-nav {
    width: 85% !important;
    padding: 0 1rem !important;
  }
}
@media all and (max-width: 1500px) {
  #inner-lower-nav {
    width: 90% !important;
    padding: 0 1rem !important;
  }
  #lower-nav #inner-lower-nav img {
    height: 60%;
  }
}

@media all and (max-width: 1300px) {
  #left-inner-lower-nav {
    display: none !important;
  }
}

@media all and (max-width: 1000px) {
  #upper-nav {
    display: none;
  }
  #lower-nav #left-inner-lower-nav {
    display: none;
  }
}

@media all and (max-width: 700px) {
  #lower-nav #inner-lower-nav img {
    height: 55%;
  }
  #lower-nav #inner-lower-nav {
    height: 6rem;
  }
}

@media all and (max-width: 500px) {
  #lower-nav #inner-lower-nav img {
    height: 60%;
  }
  #lower-nav #inner-lower-nav {
    height: 5rem;
  }
}
@media all and (max-width: 500px) {
  #lower-nav #inner-lower-nav img {
    height: 60%;
  }
  #lower-nav #inner-lower-nav {
    height: 4rem;
  }
}

.black-color {
  color: #374858 !important;
}
