@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.main-contact-us-cont {
  font-family: Poppins !important;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}

.main-contact-us-cont .contact-us-bg-image {
  position: absolute;
  top: 3rem;
  z-index: -1;
  width: 100%;
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.main-contact-us-cont .left-contact-us {
  margin-top: 24rem;
  padding-left: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.main-contact-us-cont .left-contact-us h1 {
  color: #1d1847;
}
.main-contact-us-cont .left-contact-us .contact-ele {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main-contact-us-cont .left-contact-us .contact-ele h3 {
  color: #1d1847;
  text-align: center;
}
.main-contact-us-cont .left-contact-us .contact-ele p {
  text-align: center;
  color: #707173;
}
.main-contact-us-cont .left-contact-us .contact-ele p a {
  text-decoration: none;
  color: #707173;
}

.main-contact-us-cont .right-contact-us {
  display: flex;
  flex-direction: column;
  margin-right: 15rem;
  height: 80vh;
  margin-top: 4rem;
  background-color: white;
  padding: 4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 33vw;
  gap: 2rem;
}

.main-contact-us-cont .right-contact-us h1 {
  color: #1d1847;
  font-family: Poppins;
  letter-spacing: 1px;
}

.main-contact-us-cont .right-contact-us .contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-contact-us-cont .right-contact-us .contact-inputs div {
  width: 80%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-contact-us-cont .right-contact-us .contact-inputs div i {
  color: gray;
}
.main-contact-us-cont .right-contact-us .contact-inputs div input {
  border: none;
  outline: none;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  color: gray;
}

.main-contact-us-cont .right-contact-us textarea {
  border: none;
  width: 80%;
  justify-self: center;
  align-self: center;
  outline: none;
}
.main-contact-us-cont .right-contact-us button {
  color: #ffffff;
  padding: 15px 35px 15px 35px !important;
  background: #ed1b24;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  height: auto;
  width: 30%;
  align-self: center;
  justify-self: center;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media all and (max-width: 1600px) {
  .main-contact-us-cont .left-contact-us {
    padding-left: 3rem;
  }
  .main-contact-us-cont .right-contact-us {
    margin-right: 10rem;
    width: 40vw;
    gap: 3rem;
  }
}

@media all and (max-width: 1400px) {
  .main-contact-us-cont .left-contact-us {
    padding-left: 3rem;
  }
  .main-contact-us-cont .right-contact-us {
    margin-right: 5rem;
    width: 45vw;
    gap: 3rem;
    padding: 4rem 3rem;
  }
}

@media all and (max-width: 1200px) {
  .main-contact-us-cont .left-contact-us {
    padding-left: 1rem;
    justify-content: left;
  }
  .main-contact-us-cont .right-contact-us {
    margin-right: 5rem;
    width: 45vw;
    gap: 3rem;
    padding: 4rem 3rem;
  }
}

@media all and (max-width: 1100px) {
  .main-contact-us-cont {
    flex-direction: column;
  }

  .main-contact-us-cont .left-contact-us {
    width: 100%;
  }
  .main-contact-us-cont .left-contact-us h1 {
    font-size: 2.2rem;
  }
  .main-contact-us-cont .left-contact-us .contact-ele h3 {
    font-size: 1.7rem;
  }
  .main-contact-us-cont .left-contact-us .contact-ele p {
    font-size: 1.2rem;
  }
  .main-contact-us-cont .right-contact-us {
    width: 80%;
    height: 100%;
    align-self: center;
    justify-self: center;
    margin-right: 0;
  }
  .main-contact-us-cont .right-contact-us .contact-inputs div input {
    height: 4rem;
  }
}
@media all and (max-width: 1000px) {
  .main-contact-us-cont .contact-us-bg-image {
    top: 0;
  }
  .main-contact-us-cont {
    padding: 2rem;
  }
}

@media all and (max-width: 545px) {
  .main-contact-us-cont {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .main-contact-us-cont .right-contact-us {
    width: 100% !important;
    padding: 4rem 1rem;
  }
  .main-contact-us-cont .left-contact-us h1 {
    text-align: center;
  }
  .main-contact-us-cont .right-contact-us h1 {
    font-size: 1.5rem;
  }
  .main-contact-us-cont .right-contact-us button {
    width: 50%;
  }
}
@media all and (max-width: 420px) {
  .main-contact-us-cont .right-contact-us button {
    width: 60%;
  }
}

@media all and (max-height: 820px) {
  .main-contact-us-cont .right-contact-us {
    margin-top: 1rem;
    height: 100vh;
  }
}
@media all and (max-height: 690px) {
  .main-contact-us-cont .right-contact-us {
    margin-top: 4rem;
    height: 130vh;
  }
}
@media all and (max-height: 550px) {
  .main-contact-us-cont .right-contact-us {
    margin-top: 4rem;
    height: 150vh;
  }
}
@media all and (max-height: 420px) {
  .main-contact-us-cont .right-contact-us {
    margin-top: 0rem;
    height: 170vh;
  }
}
