#main-footer-div {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: white;
  color: #1e2e3e;
  flex-direction: column;
  padding: 3rem 0;
  padding-bottom: 1rem;
  border-top: 1px solid #1e2e3e;
}

#main-footer-div #upper-footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}
#main-footer-div #upper-footer #footer-logo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#main-footer-div #upper-footer #footer-logo img {
  height: 6rem;
}

#main-footer-div #upper-footer #footer-logo #socials-logo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

#main-footer-div #upper-footer #footer-logo #socials-logo a {
  text-decoration: none;
  color: white;
  background-color: #1e2e3e;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  border: 2px solid #1e2e3e;
}

#main-footer-div #upper-footer #footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
}
#main-footer-div #upper-footer #footer-nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.2rem;
  font-weight: 550;
  min-height: 3rem;
}

#main-footer-div #upper-footer #footer-nav .footer-nav-inner {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
#main-footer-div #upper-footer #footer-nav .footer-nav-inner a {
  text-decoration: none;
  color: #1e2e3e;
  font-weight: 550;
}

/* #main-footer-div #upper-footer #footer-newsletter button {
  background-color: #db1d2f;
  border: none;
  outline: none;
  padding: 1rem 1.4rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 650;
  border-radius: 6px;
} */

#main-footer-div #lower-footer {
  display: flex;
  width: 90%;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  padding: 0 2rem;
  padding-top: 1rem;
  border-top: 1px solid white;
}
#main-footer-div #lower-footer #copy-right {
  font-weight: 550;
  text-align: center;
  font-size: 1.05rem;
}
#main-footer-div #lower-footer #other-sections {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#main-footer-div #lower-footer #other-sections a {
  text-decoration: none;
  color: black;
  font-weight: 550;
}

@media all and (max-width: 1545px) {
  #main-footer-div #upper-footer #footer-nav {
    gap: 4rem;
  }
}

@media all and (max-width: 1300px) {
  #main-footer-div #upper-footer #footer-nav {
    gap: 8rem;
    padding: 0 1rem;
    row-gap: 2rem;
    justify-content: left;
  }
}
@media all and (max-width: 1150px) {
  #main-footer-div #upper-footer #footer-nav {
    gap: 4rem;
    row-gap: 1rem;
  }
}
@media all and (max-width: 1000px) {
  #main-footer-div #upper-footer {
    flex-direction: column;
    gap: 4rem;
  }
  #main-footer-div #lower-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #main-footer-div #upper-footer #footer-nav {
    /* gap: 8rem; */
    row-gap: 3rem;
  }
  #main-footer-div {
    height: 100%;
  }
}
@media all and (max-width: 710px) {
  #main-footer-div #upper-footer #footer-nav {
    gap: 3rem;
    justify-content: left;
    padding: 0.3rem;
  }
  #main-footer-div #lower-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #main-footer-div #lower-footer #other-sections {
    gap: 1rem;
  }
}

@media all and (max-width: 650px) {
  #main-footer-div #upper-footer #footer-nav {
    gap: 3rem;
    justify-content: left;
    padding: 0.3rem;
  }
}
@media all and (max-width: 622px) {
  #main-footer-div #upper-footer #footer-nav {
    /* padding: 0 3rem; */
    gap: 7rem;
    justify-content: center;
    row-gap: 1rem;
  }
}

@media all and (max-width: 500px) {
  #main-footer-div #upper-footer #footer-nav {
    gap: 4rem;
    row-gap: 1rem;
    align-items: center;
  }
  #main-footer-div #upper-footer #footer-nav .footer-nav-inner {
    width: 100%;
  }
  #main-footer-div #upper-footer #footer-nav .footer-nav-inner h3 {
    text-align: center;
  }
  #main-footer-div #upper-footer #footer-nav .footer-nav-inner a {
    text-align: center;
  }
}

@media all and (max-width: 370px) {
  #main-footer-div #upper-footer #footer-nav {
    display: grid;
    /* gap: 0; */
    row-gap: 0.4rem;
    grid-template-columns: 1fr;
  }
  #main-footer-div #upper-footer #footer-nav a {
    font-size: 1.3rem;
  }
}
