* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s;
}

nav::-webkit-scrollbar {
  display: none;
}

#burger-menu {
  display: none;
}
@media all and (max-width: 1300px) {
  #burger-menu {
    display: flex;
  }
}
