.main-container h1,
h2,
h3,
span,
p {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.headingcoustomer {
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
  margin: 60px 0;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 0.5em;
  color: #374858;
}
.headingcoustomer::after {
  position: absolute;
  bottom: -10px;
  height: 1px;
  width: 150px; /* or 100px */
  border-bottom: 3px solid red;
}
.containercostumer {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  padding: 1em;
  margin-top: 4%;
}
*::-webkit-scrollbar {
  display: none;
}

.containercostumer .costumercard {
  min-width: 400px;
  height: 300px;
  margin: 1em;
  background: rgba(206, 236, 247, 0.4);
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(40px);
  background-color: antiquewhite;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(72, 73, 73, 0.1);
}
.costumercard p {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.costumerlogo {
  max-height: 40px;
  width: auto;
  margin-top: 5px;
  align-self: center;
  align-items: center;
}
.costumersocial {
  max-height: 30px;
  width: auto;
  padding-top: 5px;
  align-self: center;
  align-items: center;
}
.containercostumer .costumercard .content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 30%) 70%;
  grid-auto-flow: column;
  align-items: center;
  opacity: 0.9;
  transition: 0.5s;
  justify-content: right;
  padding-top: 15px;
}

.containercostumer .costumercard .content img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  border: 10px rgba(14, 13, 13, 0.25);
  box-shadow: 5px 5px 10px rgba(72, 73, 73, 0.2);
  align-self: center;
 text-align: center;
 justify-content: right;
 display: block; /* Ensure the image is a block-level element */
  margin: 0 auto; 
}

/* ///// */
.content p {
  text-align: center;
  padding-left: 3px;
}
.containercostumer .costumercard .content .cardContent h3 {
  color: #374858;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
.containercostumer .costumercard .content .cardContent h3 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: initial;
}
.containercostumer .costumercard .sci {
  list-style: none;
  position: absolute;
  bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.costumercard p {
  align-items: center;
}

.costumercard {
  display: grid;
  grid-template-rows: 30% 70%;
}

@media screen and (max-width: 550px) {
  .containercostumer .costumercard .cardContent h3 {
    font-size: 15px !important;
  }
  .containercostumer .costumercard {
    min-width: 250px;
    height: 230px;
  }
  .headingcoustomer {
    font-size: 30px;
  }
  .costumercard p {
    font-size: 15px;
  }
  
  .containercostumer .costumercard {
    min-width: 300px;
    height: 350px;
    margin: 1em;
    background: rgba(206, 236, 247, 0.4);
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(40px);
    background-color: antiquewhite;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(72, 73, 73, 0.1);
  }
 
  
}
